services:
  traefik:
    image: traefik:v3.0
    command:
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080" 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  hyper-mirror:
    build: .
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pypi.rule=Host(`dev.local`)"
      - "traefik.http.routers.pypi.entrypoints=web"
      - "traefik.http.services.pypi.loadbalancer.server.port=8080"
