services:
  mirava:
    build: .
    container_name: mirava
    networks:
      - traefik
    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.pypi.rule=Host(`dev.local`)"
      - "traefik.http.routers.pypi.entrypoints=web"
      - "traefik.docker.network=traefik"
      - "traefik.http.services.pypi.loadbalancer.server.port=8080"

networks:
  traefik:
    external: true
